.App {
  text-align: center;
   
}

.class-container {
  display: flex;
  display:flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 30px;
  justify-content: center;
}
.cartdiv{
  display: flex;
  justify-content: flex-end;
  margin: 15px;
  font-size: large;
}